* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boby {
    width: 100%;
    height: 100%;
}

.container {
}

.container .cabeçalho {
}

.container .banner {
}

.container .barra-icons {
}

.container .tipo-de-produtos {
}

.container .carousel {
}

.container .carousel::-webkit-scrollbar {
    display: none;
}

.container .buttons {
    width: 100%;
    text-align: center;
}

.container .buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container .buttons button:first-child img {
    transform: rotate(180deg);
}

.container .parrceiros {
}

.container .produtos {
}

.container .marcas {
}

.container .footer {
}
